<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona główna | Co By Tu Obejrzeć</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <div th:replace="fragments :: header"></div>
    <div class="content"><br><br>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col col-lg-2">
                </div>
                <div class="col-md-auto">
                    <h1>Witaj!</h1>
                    <p class="lead">Na co masz ochotę? Może na film, a może na serial?</p><br><br>
                </div>
                <div class="col col-lg-2">
                </div>
            </div>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col col-lg-2">
                    <form action="/movies" method="post">
                        <input type="submit" class="btn btn-outline-dark btn-lg" value="Chcę film!">
                    </form>
                </div>
                <div class="col-md-auto">
                </div>
                <div class="col col-lg-2">
                    <form action="/series" method="post">
                        <input type="submit" class="btn btn-outline-dark btn-lg" value="Chcę serial!">
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>